# show a symbol in starship
export WORK_MODE=ON

# use work ssh keys
export SSH_AUTH_SOCK="$HOME/Work/.ssh/agent.sock"

# use git with work email
export GIT_CONFIG_GLOBAL=$HOME/Work/.gitconfig

# use work aws accounts
export AWS_CONFIG_FILE=$HOME/Work/.aws/config
export AWS_SHARED_CREDENTIALS_FILE=$HOME/Work/.aws/credentials

# use work codex
export CODEX_HOME="$HOME/Work/.codex"

# use work opencode
export OPENCODE_CONFIG_DIR="$HOME/Work/.opencode"
